@charset "utf-8";
/* 2015-05-08 */

body,div,ul,ol,li,h1,h2,h3,h4,h5,h6,p,pre,code,form,img,dl,dd,dt,input,textarea,button,th,td,iframe{ margin:0; padding:0}
article,aside,details,figcaption,figure,footer,header,hgroup,nav,section{ display:block}
html{ font:62.5%/1.5 "Microsoft YaHei", sans-serif}
img{border:none; max-width:100%; vertical-align:top}
h1,h2,h3,h4,h5,h6{ font-weight:normal}
input,select,textarea{ font-size:100%; vertical-align:baseline; *vertical-align:middle}
ol,ul{ list-style:none}
textarea{ overflow:auto; vertical-align:top; resize:vertical}
table{ border-collapse:collapse; border-spacing:0}
em,i,code,cite,address,th{font-style:normal}
.clear{clear:both;line-height:0;font-size:0}
.clearfix{*zoom:1;_height:1px}
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden}
a{ text-decoration:none; outline:none}

body{ background:#fffbe6}
.dishide{ display:none}
.index{ height:330px; background:url(../images/caipiao_bg.jpg) center bottom no-repeat; background-size:cover; position:relative; overflow:hidden}
.index .friend{ padding:20px 20px 0 0; display:table; position:relative; z-index:20}
.index .friend .headimg{ width:70px; display:table-cell; vertical-align:top; text-align:center}
.index .friend .headimg img{ width:44px; height:44px; border-radius:44px}
.index .friend .content{ display:table-cell; color:#a42611; background:#fef3b5; border-radius:10px; padding:5px 10px; position:relative; font-size:1.4em}
.index .friend .content i{position:absolute; width:0; height:0; top:11px; left:-14px; border-width:7px; border-style:dashed solid dashed dashed; border-color:transparent #fef3b5 transparent transparent}
.index .fudai{ z-index:18; position:absolute; bottom:0; left:50%; margin-left:-140px; width:280px; height:288px; text-align:center; background:url(../images/fudai.png) center bottom no-repeat; background-size:280px}
.index .fudai .grab_btn{ background:#d8533b; display:inline-block; margin-top:223px; border-radius:8px; color:#ba2e09}
.index .fudai .grab_btn span{ display:block; background:#ffdc4b; border-radius:8px; font-size:2.2em; margin-bottom:4px; padding:7px 45px; font-weight:bold}
/*球运动*/
.index .qiu{ z-index:17; position:absolute; bottom:100px; left:50%; margin-left:-18px; text-align:center; font-family:Arial; font-size:2.4em}
.index .qiu_1{ background:#ff5b5b; color:#ab4242; width:36px; height:36px; line-height:36px; border-radius:36px; -webkit-animation:i_qiu_1 10s linear 0s infinite normal; box-shadow:1px -1px 1px #ea5252 inset}
@-webkit-keyframes i_qiu_1{
	0%{ -webkit-transform:translate(0,0); opacity:0; z-index:1}
	1%{ opacity:1}
	26%{ z-index:17}
	27%{ z-index:21}
	30%{ -webkit-transform:translate(80px,-80px)}
	70%{ -webkit-transform:translate(-80px,-160px)}
	99%{ z-index:21; opacity:1}
	100%{ -webkit-transform:translate(0,-266px); opacity:0; z-index:1}
}
.index .qiu_2{ margin-left:-90px; font-size:1.9em; background:#5fa9cf; color:#1d5875; width:28px; height:28px; line-height:28px; border-radius:28px; -webkit-animation:i_qiu_2 15s linear 2s infinite normal; box-shadow:0 -1px 3px #5e7d9b inset}
@-webkit-keyframes i_qiu_2{
	0%{ -webkit-transform:translate(0,0); opacity:0; z-index:1}
	1%{ opacity:1}
	40%{ -webkit-transform:translate(-115px,-80px); z-index:17}
	50%{ -webkit-transform:translate(-120px,-90px); z-index:21}
	70%{ -webkit-transform:translate(-50px,-160px)}
	99%{ z-index:21; opacity:1}
	100%{ -webkit-transform:translate(0,-266px); opacity:0; z-index:1}
}
.index .qiu_9{ margin-left:0; font-size:1.9em; background:#5fa9cf; color:#1d5875; width:28px; height:28px; line-height:28px; border-radius:28px; -webkit-animation:i_qiu_9 10s linear 4s infinite normal; box-shadow:0 -1px 3px #5e7d9b inset}
@-webkit-keyframes i_qiu_9{
	30%{ -webkit-transform:translate(-30px,-60px)}
	70%{ -webkit-transform:translate(70px,-160px)}
	100%{ -webkit-transform:translate(0,-266px)}
}
.index .qiu_17{ margin-left:-40px; background:#ff5b5b; color:#ab4242; width:40px; height:40px; line-height:40px; border-radius:40px; -webkit-animation:i_qiu_17 14s linear 8s infinite normal; box-shadow:-1px -1px 1px #ea5252 inset}
@-webkit-keyframes i_qiu_17{
	30%{ -webkit-transform:translate(-86px,-85px)}
	39%{ z-index:17}
	40%{ z-index:19}
	70%{ -webkit-transform:translate(0,-160px)}
	100%{ -webkit-transform:translate(-20px,-266px)}
}
.index .qiu_22{ margin-left:60px; background:#62b3dc; color:#1d5875; width:40px; height:40px; line-height:40px; border-radius:40px; -webkit-animation:i_qiu_22 10s linear 10s infinite normal; box-shadow:1px -1px 3px #5e7d9b inset}
@-webkit-keyframes i_qiu_22{
	29%{ z-index:17}
	30%{ -webkit-transform:translate(120px,-60px); background:#5b8bad}
	70%{ -webkit-transform:translate(70px,-160px)}
	100%{ -webkit-transform:translate(0,-266px)}
}

/*抢到彩票的用户列表*/
.users .item{ display:table; width:100%; padding-right:15px; box-sizing:border-box; margin-top:20px}
.users .item .headimg{ width:74px; display:table-cell; text-align:center; vertical-align:top}
.users .item .headimg img{ width:44px; height:44px; border-radius:44px}
.users .item .content .t{ overflow:hidden; font-size:1.6em; vertical-align:top}
.users .item .content .time{ float:right; color:#999}
.users .item .content .name{ color:#454545}
.users .item .content .b{ color:#999; font-size:1.4em}
/*抢票须知*/
.notice{ margin:30px 5px 20px}
.notice fieldset{ border:1px solid #b8ae85; border-radius:5px}
.notice legend{ color:#454545; font-size:1.6em}
.notice p{ color:#999; font-size:}
.notice p a{ color:#2da4ff}
/*中奖页*/
.lottery,.lotteryover{ height:330px; background:url(../images/caipiao_bg.jpg) center bottom no-repeat; background-size:cover; position:relative}
.lottery .sheet,.lotteryover .sheet{ position:absolute; bottom:0; left:50%; margin-left:-155px; width:311px; height:323px; background:url(../images/sheet.png) center bottom no-repeat; background-size:311px; text-align:center}
.lottery .info{ font-size:2.4em; color:#a24d01; font-weight:bold; padding:50px 0 20px}
.lottery .info2{ font-size:1.9em; color:#a24d01; font-weight:bold; padding:50px 0 28px}
.lottery .number{ overflow:hidden; padding-left:14px}
.lottery .number .item{ float:left; color:#d50000; font-family:Arial; font-size:2.4em; background:#b2965b; width:36px; margin-right:5px; border-radius:5px}
.lottery .number .item span{ background:#fff6db; display:block; border-radius:5px; padding:2px 0; margin-bottom:3px}
.lottery .number .item.blueitem span{ color:#4aa8da}
.lottery .date{ color:#d50000; font-size:1.4em; padding:5px 0 50px}
.lottery .share_btn{ background:#d8533b; border-radius:8px; display:inline-block; color:#ba2e09}
.lottery .share_btn span{ display:block; background:#ffdc4b; border-radius:8px; font-size:2.1em; margin-bottom:4px; padding:7px 15px; font-weight:bold}
.lottery .pool{ color:#aa3d29; position:absolute; bottom:15px; left:50%; margin-left:-119px; font-size:1.3em}
.lottery .pool a{ color:#43535c}
/*填写手机*/
.phone{ width:280px; margin:30px auto}
.phone .t{ font-size:1.6em; margin-bottom:5px}
.phone .t .text{ width:155px; border:1px solid #999; border-radius:3px; line-height:24px; height:24px; margin:0 7px}
.phone .t .phone_btn{ -webkit-appearance:none; outline:none; background:#ffb309; border:none; color:#fff; padding:3px 8px; border-radius:3px}
.phone p{ color:#d50000; font-size:1.4em}
/*彩票已经抢完了*/
.lotteryover .info{ font-size:2.4em; color:#a24d01; font-weight:bold; padding-top:100px}










