@charset "utf-8";
/* 2015-05-09 */

body,div,ul,ol,li,h1,h2,h3,h4,h5,h6,p,pre,code,form,img,dl,dd,dt,input,textarea,button,th,td,iframe{ margin:0; padding:0}
article,aside,details,figcaption,figure,footer,header,hgroup,nav,section{ display:block}
html{ font:62.5%/1.5 "Microsoft YaHei", sans-serif}
img{border:none; max-width:100%; vertical-align:top}
h1,h2,h3,h4,h5,h6{ font-weight:normal}
input,select,textarea{ font-size:100%; vertical-align:baseline; *vertical-align:middle}
ol,ul{ list-style:none}
textarea{ overflow:auto; vertical-align:top; resize:vertical}
table{ border-collapse:collapse; border-spacing:0}
em,i,code,cite,address,th{font-style:normal}
.clear{clear:both;line-height:0;font-size:0}
.clearfix{*zoom:1;_height:1px}
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden}
a{ text-decoration:none; outline:none}

body{ background:#fffbe6}
.order{ margin:20px 10px; background:#fff; border-radius:10px}
.order .summary{ background:#fb5f43; border-top-left-radius:10px; border-top-right-radius:10px; color:#fff; font-size:1.8em; padding:10px 20px}
.order .list{ padding:0 20px}
.order .list .item{ font-size:1.6em; padding:20px 0; color:#454545; border-bottom:1px dashed #454545}
.order .list .item:last-child{ border:none}
.order .list .text{ font-size:1.8em; padding:70px 0; color:#454545}
.order .list .text a{ color:#2da4ff}
/*抢票须知*/
.notice{ margin:30px 5px 20px}
.notice fieldset{ border:1px solid #b8ae85; border-radius:5px}
.notice legend{ color:#454545; font-size:1.6em}
.notice p{ color:#999; font-size:}
.notice p a{ color:#2da4ff}
/*规则*/
.rule{ font-size:1.4em; padding:10px}
.rule .back_btn{ width:15px; height:15px; margin:5px; display:block; border:solid #2da4ff; border-width:0 0 1px 1px; transform:rotate(45deg); -webkit-transform:rotate(45deg)}
.rule .h{ text-align:center; padding:10px 0}